{% extends "layout.html" %}
{% block content %}
          <h1>Red Lobster's Super-Awesome Report Page</h1>
          <br />
            <div class="flex">
              <div class="box">
                  <p class="center">Food Safety Basics</p>
              </div>
              <div class="container">
                  <p class="center">Sexual Harassment  Hourly</p>
                  <a href="http://localhost:5000/test">
                      <span class="linkk"></span>
                  </a>
              </div>
              <div class="box">
                  <p class="center">Sexual Harassment  MGR</p>
              </div>
              <div class="box">
                  <p class="center">Credit Card Security</p>
              </div>
              <div class="box">
                  <p class="center">Responsible Alcohol Service</p>
              </div>
              <div class="box">
                  <p class="center">Menu Updates</p>
              </div>
            </div>
{% endblock content %}