<!-- Current as of 5/6/24 -->
{% extends "layout.html" %}
{% block content %}
<h1>Which report(s) do you want to pull? </h1>
  <form method="POST" action="/courses">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3846202" name="CID">
      NYS Intro
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3847508" name="CID">
      Anti-Harassment 1
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3846909" name="CID">
      Anti-Harassment 5
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3846758" name="CID">
      Anti-Harassment 6
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3848048" name="CID">
      Understanding Harassment 1
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3848322" name="CID">
      Understanding Harassment 2
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3848379" name="CID">
      Understanding Harassment 3
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3847029" name="CID">
      Understanding Harassment 4
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3846770" name="CID">
      Understanding Harassment: 5
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3848626" name="CID">
      Understanding Harassment 6
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="3848445" name="CID">
      Understanding Harassment 7
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="4775856" name="CID">
      NYS Scenarios
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="4673600" name="CID">
      NYC Intro
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="4673603" name="CID">
      NYC Scenarios
    </label>
  </div>
  <div class="flex">
    <input type="submit" value="Add" class = "button">
  </div>
</form>
{% endblock content %}
